:root {
  /* Primary Color */
  --tomato: hsl(4, 100%, 67%);
  --error-color: hsla(4, 100%, 67%, 0.212);

  /* Neutral Colors */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --roboto: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type="email"]:focus{
  outline: none;
}

input[type="submit"] {
  border: none;
}

li{
  list-style: none;
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--charcoal-grey);
  font-family: var(--roboto);
  color: var(--dark-slate-grey);
}

.main {
  display: inherit;
  flex-direction: inherit;
  gap: 30px;
  background-color: var(--white);
  padding-bottom: 6.5em;

}

.main__title {
  font-size: 2.5em;
}

.main__image img {
  min-width: 100%;
  min-height: 283px;
}

.main__content {
  display: inherit;
  flex-direction: inherit;
  gap: 2em;
  margin: 0 23.2px;
}

.main__list{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.main__list-items{
  display: flex;
  gap: 15px;
}

.main__list-items::before{
  content: url(../assets/images/icon-list.svg);
  margin: 0;
}

.main__form-container{
  display: flex;
  justify-content: space-between;
}

.main__form-title {
  font-size: .8em;
}

.main__form-email{
  margin-top: .7em;
  margin-bottom: 1.5em;
  width: 100%;
  height: 60px;
  border: 1px solid var(--grey);
  border-radius: .5em;
  font-size: 1em;
  text-indent: 1.6em;
}

.main__form-submit{
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  width: 100%;
  height: 60px;
  font-size: 1em;
  border-radius: .5em;
}

.error-message{
  font-size: .8em;
  color: var(--tomato);
}

.error-status{
  border-color: var(--tomato);
  background-color: var(--error-color);
  color: var(--tomato);
}

.attribution {
  min-width: 100%;
  font-size: 11px;
  text-align: center;
  background-color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 320px) {
  .main__image img {
    max-width: 100%;
    min-height: 242px;
  }

  .main__form{
      padding-bottom: 2.5em;
  }
}
