@import "index.css";

html, body{
    height: 100%;
}

button{
    border: none;
}

.main{
    display: flex;
    height: inherit;
    padding-bottom: 0;
}

.main__content{
    display: grid;
    height: inherit;
}

.main__content-title{
    font-size: 2.5em;
}

.main__content-message{
    align-self: center;
}

.main__container{
    align-self: flex-end;
}